src/main/resources/META-INF/wsdl/FaultTypes.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema version="1.0"
	targetNamespace="http://www.fujixerox.co.jp/2010/09/pga/ws/fault"
	xmlns:tns="http://www.fujixerox.co.jp/2010/09/pga/ws/fault"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xsd:complexType name="SubcodeType">
		<xsd:sequence>
			<xsd:element name="value" type="xsd:QName" minOccurs="1" maxOccurs="1" />
			<xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="subcode" type="tns:SubcodeType" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FaultDetailType">
		<xsd:sequence>
			<xsd:element name="subcode" type="tns:SubcodeType" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PgFaultType">
	</xsd:complexType>

	<xsd:element name="fault" type="tns:FaultDetailType" />
	<xsd:element name="pgFault" type="tns:PgFaultType" />
</xsd:schema>
